@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Outfit";
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    width: 300px;
    padding-bottom: 20px;
}

.container__main-image {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 12px;
}

.container__main-title {
    font-size: 22px;
    font-weight: 700;
    color: #1F314F;
}

.container__main-text {
    font-size: 15px;
    padding: 1rem 0;
    font-weight: 400;
    color: #68778D;
}

p, h1 {
    text-align: center;
}

.attribution{
    padding: 1rem;
}